@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ProximaVara;
  src: url("./fonts/font.woff");
  -webkit-font-smoothing: none !important;
  font-feature-settings: "ss04" on, "ss03" on;
}
