@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ProximaVara;
  src: url("./fonts/font.woff");
}

/* body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
} */
